<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.match.maker">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:windowSoftInputMode="adjustPan|adjustResize"
        android:xlargeScreens="true" />

    <application
        android:name=".application.MatchMakerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.No.Title">

        <activity
            android:name=".featureModules.splash.views.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".featureModules.landing.views.HomeActivity"
            android:label="Home"
            android:screenOrientation="portrait" />

        <activity
            android:name=".featureModules.login.LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />


    </application>

</manifest>